<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>C</string>
		<key>frequency</key>
		<real>65.40600000000001</real>
	</dict>
	<key>C#2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>C#/Db</string>
		<key>frequency</key>
		<real>69.29600000000001</real>
	</dict>
	<key>D2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>D</string>
		<key>frequency</key>
		<real>73.416</real>
	</dict>
	<key>D#2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>D#/Eb</string>
		<key>frequency</key>
		<real>77.782</real>
	</dict>
	<key>E2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>E</string>
		<key>frequency</key>
		<real>82.407</real>
	</dict>
	<key>F2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>F</string>
		<key>frequency</key>
		<real>87.307</real>
	</dict>
	<key>F#2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>F#/Gb</string>
		<key>frequency</key>
		<real>92.499</real>
	</dict>
	<key>G2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>G</string>
		<key>frequency</key>
		<real>97.999</real>
	</dict>
	<key>G#2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>G#/Ab</string>
		<key>frequency</key>
		<real>103.83</real>
	</dict>
	<key>A2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>A</string>
		<key>frequency</key>
		<real>110</real>
	</dict>
	<key>A#2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>A#/Bb</string>
		<key>frequency</key>
		<real>116.54</real>
	</dict>
	<key>B2</key>
	<dict>
		<key>octave</key>
		<integer>2</integer>
		<key>name</key>
		<string>B</string>
		<key>frequency</key>
		<real>123.47</real>
	</dict>
	<key>C3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>C</string>
		<key>frequency</key>
		<real>130.81</real>
	</dict>
	<key>C#3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>C#/Db</string>
		<key>frequency</key>
		<real>138.59</real>
	</dict>
	<key>D3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>D</string>
		<key>frequency</key>
		<real>146.83</real>
	</dict>
	<key>D#3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>D#/Eb</string>
		<key>frequency</key>
		<real>155.56</real>
	</dict>
	<key>E3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>E</string>
		<key>frequency</key>
		<real>164.81</real>
	</dict>
	<key>F3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>F</string>
		<key>frequency</key>
		<real>174.61</real>
	</dict>
	<key>F#3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>F#/Gb</string>
		<key>frequency</key>
		<real>185</real>
	</dict>
	<key>G3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>G</string>
		<key>frequency</key>
		<real>196</real>
	</dict>
	<key>G#3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>G#/Ab</string>
		<key>frequency</key>
		<real>207.65</real>
	</dict>
	<key>A3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>A</string>
		<key>frequency</key>
		<real>220</real>
	</dict>
	<key>A#3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>A#/Bb</string>
		<key>frequency</key>
		<real>233.08</real>
	</dict>
	<key>B3</key>
	<dict>
		<key>octave</key>
		<integer>3</integer>
		<key>name</key>
		<string>B</string>
		<key>frequency</key>
		<real>246.94</real>
	</dict>
</dict>
</plist>
